body {

    align-self: center;
    margin:0 ;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
*{
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    margin:  0 auto;


}
.main-header{
    background-color: white;
    padding-top: 15px;
}
.logo {
    color:black;
    font-size: 50px;
    font-family:"Myriad Pro";
    text-decoration: none;
}
.blue {
    color: #4dcaff;
}
.navigation {
    margin-top: 15px;
    padding: 15px ,0;
    display: inline-block;
    background-color: #35444f;
    justify-content: center;
    text-align: center;
    font-size: 0;
    width: 100%;
}
.nav-link {
    border-left:1px solid rgba(255, 255, 255, 0.61);
    border-right:1px solid  rgba(255, 255, 255, 0.61);
    padding: 15px;
    font-size: 25px;
    color: white;
    width: 100%;
    text-decoration: none;
    transition:all cubic-bezier(.34,.33,.83,.83);


}
.nav-link:hover {
    background-color: rgba(0, 0, 0, .2);
    border-color:#818181;
}
.content {
    margin-top: 25px;
    width: 100%;
    height: 100%;
}
.nav {
    display: inline-block;
    padding-right: 30px;
    vertical-align: top;

}
.nav-menu  {
    border: 1px solid black;
    width: 345px;
    float: left;
    height: 100%;
}

.nav-menu--list {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin:0;
}
.nav-menu--list a {
    display: inline-block;
    color:black ;
    padding: 15px;
    text-decoration: none;
    font-size: 27px;
    width: 100%;
    transition: all 0.5s;
}
.nav-menu--list a:hover {
    background-color: lightgray;
    padding-left: 30px;

}
.imagee{
    display: inline-block;
    height: 100%;
    width: calc(100% - 380px);
}
.article {
    float: right;
}
.article-image {
    border: 1px solid #3f3f3f;
    padding: 60px;
    max-height: 500px;
    overflow: hidden;

}

.article-image img {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    transition: 0.3s;

}

.article-image img:hover {
    transform: scale(1.3);
}
.footer {
    justify-content: space-evenly;
    padding-bottom: 15px;
}
.footer-nav {
    display: inline-block;
    width: 100%;
    padding:20px 40 px ;
    background-color: #b4b7b9;
    font-size: 20px;
}

.footer-nav a {
    text-decoration: none;
    color: black;
    font-size: 27px;
    text-align: center;
    margin: 0 15px;
}

.footer-nav a:hover {
    border-bottom: 1px solid blue;
    color: blue;

}

.footer-nav span {
    padding-bottom: 0;
    margin-bottom: 0;
    float: right;
    height: 100%;
}